---
layout: default
---
<div class="home post">
    <h2>{{ page.name }}</h2>

    <ul>
        {% for item in page.docs %}      
        <li>
            {{ item.title }}

            <div class="info">
                {{ item.text | markdownify }}

                <ul>
                    {% for file in item.files %}
                    <li><a href="{{ file.file }}" download>{{ file.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            
        </li>
        {% endfor %}
    </ul>
</div>
